.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: black;
   
  }
  
  .navbar-title {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 1rem;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .nav-link:hover {
    color: #ccc;
  }
  .nav-link>.MuiButton-root{
    color: black;
   
  }
 